.scoreboard {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 50px;
  width: 100%;
  margin: 0;
}

.cards {
  height: 50px;
  margin-left: -1px;
}

.card {
  float: left;
  border: 1px solid black;
  border-width: 1px 0 0 1px;
  height: 100%;
  width: 33.3%;
}

.card .frame {
  display: block;
  float: left;
  font-size: 10px;
  text-decoration: underline;
  width: 20%;
  height: 25px;
  line-height: 20px;
  text-align: center;
}

.card .first, .card .second, .card .third {
  border: 1px solid black;
  border-top-width: 0;
  border-right-width: 0;
  text-align: center;
  line-height: 25px;
  height: 25px;
  width: 40%;
  float: right;
}

.tenth.card .first, .tenth.card .second, .tenth.card .third {
  width: 26%;
}

.card .score {
  clear: both;
  float: right;
  width: 80%;
  line-height: 25px;
  padding-left: 10px;
}
